{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-12"><h2>Overview </h2></div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vulnerability Type</h5>
                <canvas id="vulnerabilityTypeChart" width="100%" height="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Severity Type</h5>
                <canvas id="severityTypeChart" width="100%" height="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Read/Unread</h5>
                <canvas id="readStatusChart" width="100%" height="100%"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    // Data for charts
    var vulnerabilityTypeData = {
        labels: [    
    {% for i in cwe_data %}
        '{{ i.cwe }}', 
    {% endfor %}
    ],
        datasets: [{
            data: [
            {% for i in cwe_data %}
            '{{ i.cwe_dataset }}', 
            {% endfor %}
        ],
    }]
};

    var severityTypeData = {
        labels: ['Low', 'Medium', 'High', 'Critical'],
        datasets: [{
            data: [
                {% for i in severity_data %}
                '{{ i.severity_dataset }}', 
                {% endfor %}
            ],
            backgroundColor: ['#e5f2d6','#fdf2e3','#ffe7d6','#f8dfdf']
        }]
    };

    var readStatusData = {
        labels: ["Unread", "Read"],
        datasets: [{
            data: [
            {% for i in read_data %}
            '{{ i.is_read_dataset }}', 
            {% endfor %}
        ],
        backgroundColor : ['#DC3545','#198754']
        }]
    };

    // Configuration for charts
    var chartOptions = {
        responsive: true,
        maintainAspectRatio: true,
        legend: {
            position: 'right'
        }
    };

    // Create charts
    var ctx1 = document.getElementById("vulnerabilityTypeChart");
    new Chart(ctx1, {
        type: 'bar',
        data: vulnerabilityTypeData,
        options: chartOptions
    });

    var ctx2 = document.getElementById("severityTypeChart").getContext("2d");
    new Chart(ctx2, {
        type: 'bar',
        data: severityTypeData,
        options: chartOptions
    });

    var ctx3 = document.getElementById("readStatusChart").getContext("2d");
    new Chart(ctx3, {
        type: 'bar',
        data: readStatusData,
        options: chartOptions
    });
</script>
{% endblock content %}
